.checkOutContainer{
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;

  .cartContainer{
    // border: 1px solid red;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn{
    font-size: 0,8rem;
    text-align: center;
  }

  .checkOutCard{
    margin-bottom: 5%;
    width: min-content;
    text-align: center;
    img{
      width: 200px;
    }
  }
}